<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminderapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowTheNote"></activity>
        <activity android:name=".AddImageNotes" />
        <activity android:name=".AddNotesActiviy" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".AlertsActivity" />
        <activity
            android:name=".ScheduleActivity2"
            android:label="@string/title_activity_schedule2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduledActivity"
            android:label="@string/title_activity_scheduled"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:theme="@style/AppTheme" -->
        <activity android:name=".AssignmentsActivity" />
        <activity android:name=".ListitemClicked" />
        <activity android:name=".Subject1Test" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>